
.header{
	&__tabs{
		background-color: $c-dark-blue;
		padding-top:3.5rem;
		box-sizing: unset;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__tab{
		background:transparent;
		border:none;
		font-size: $fs-medium;
		font-weight: $fw-light;
		color:$c-desaturated-blue;
		&[aria-selected="true"], &:hover{
			color:$c-white;
		}
	}

	@include tablet-query{
		&__tabs{
			flex-direction: column;
			align-items: flex-start;
		}

		&__tab{
			margin-top: 1rem;
			font-size: 1rem;
		}
	}
}